<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD1</string>
		<key>Name</key>
		<string>信息系统导论</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD2</string>
		<key>Name</key>
		<string>计算机系统导论</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD3</string>
		<key>Name</key>
		<string>面向对象程序设计</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD4</string>
		<key>Name</key>
		<string>用户界面设计与测试</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD5</string>
		<key>Name</key>
		<string>数据结构</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD6</string>
		<key>Name</key>
		<string>系统级程序设计</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD7</string>
		<key>Name</key>
		<string>数据库系统</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD8</string>
		<key>Name</key>
		<string>网格及分布式计算</string>
	</dict>
	<dict>
		<key>Ratio</key>
		<string></string>
		<key>Number</key>
		<string>SSD9</string>
		<key>Name</key>
		<string>软件工程</string>
	</dict>
</array>
</plist>
